<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Carrito</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="content-language" content="es">
<meta name="author" content="Boris Barroso">

<!-- Llamada al estilo usando el helper -->
<%= stylesheet_link_tag 'style.css' %>

</head>
<body>
 <div id="wrap">
   <div id="head">
     Carrito de compras
   </div>
   <div id="content">
   <!--Contenido-->
   <%= yield %>
   </div>
 </div>
</body>
</html>
